{% extends 'base.html' %}

{% block content %}
  <div id="content">
    <div class="container-fluid">
      <h3 class="text-dark mb-4" style="margin-top: 10px;">Notice Board</h3>
      <div class="card shadow">
        <div class="card-header py-3">

          <ul class="list-group">
            {% for notification in notifications %}
              <li class="list-group-item">
                <form action="{% url 'delete_notification' notification.id %}" method="post">
                  {% csrf_token %}
                  <a class="text" href="{{ notification.url }}">
                    {{ notification.content }}
                  </a>
                  <!-- <input type="submit" value="delete"> -->
                  <button class="btn btn-link" type="submit">
                    <i class="fas fa-times"></i>
                  </button>
                </form>
              </li>
            {% empty %}
              <p class="text">No notifications available, check back later!</p>
            {% endfor %}
            {% if notifications|length > 0 %}
              <form action="{% url 'clear_notifications' %}" method="post">
                {% csrf_token %}
                <div class='mb-3'>
                  <button class="btn btn-sm btn-danger" type="submit">
                    Clear
                  </button>
                </div>
              </form>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
