{% extends 'base.html' %}
{% block content %}
  <div id="content">
    <div class="container-fluid">
      {{ viewer.user_type }}
      <h3 class="text-dark mb-4">Profile</h3>
      <div class="row mb-3">
        <div class="col-lg-8">
          <div class="row mb-3 d-none">
            <div class="col">
              <div class="card textwhite bg-primary text-white shadow">
                <div class="card-body">
                  <div class="row mb-2">
                    <div class="col">
                      <p class="m-0">Peformance</p>
                      <p class="m-0"><strong>65.2%</strong></p>
                    </div>
                    <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                  </div>
                  <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since
                    last month</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card textwhite bg-success text-white shadow">
                <div class="card-body">
                  <div class="row mb-2">
                    <div class="col">
                      <p class="m-0">Peformance</p>
                      <p class="m-0"><strong>65.2%</strong></p>
                    </div>
                    <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                  </div>
                  <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since
                    last month</p>
                </div>
              </div>
            </div>
          </div>
          {% if edit %}
            <div class="row">
              <div class="col">
                <div class="card shadow mb-3">
                  <div class="card-header py-3">
                    <p class="text-primary m-0 fw-bold">User Settings</p>
                  </div>
                  <div class="card-body">
                    <form action="{% url 'my_profile' %}" method="POST">
                      {% csrf_token %}
                      <div class="row">
                        <div class="col">
                          <div class="mb-3"><label class="form-label"
                                                   for="username"><strong>Username</strong></label>
                            <input
                                class="form-control" type="text" id="username"
                                placeholder="{{ user.username }}" name="username"
                                readonly>
                          </div>
                        </div>
                        <div class="col">
                          <div class="mb-3"><label class="form-label" for="email"><strong>Email
                            Address</strong></label>
                            <input class="form-control"
                                   type="email"
                                   id="email"
                                   placeholder="user@example.com"
                                   name="email"
                                   value="{{ user.company.email }}">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="mb-3"><label class="form-label"
                                                   for="name"><strong>Name</strong></label>
                            <input
                                class="form-control" type="text" id="name"
                                placeholder="Software Co." name="name"
                                value="{{ user.name }}"></div>
                        </div>
                        {% if user.company.verified %}
                          <div class="col">
                            <div class="mb-3" style="text-align: center;padding: 15px;">
                              <i
                                  class="fas fa-check-circle"
                                  data-bss-hover-animate="flash"
                                  style="color: var(--bs-green);"></i><span>Verified</span>
                            </div>
                          </div>
                        {% else %}
                          <div class="col">
                            <div class="mb-3" style="text-align: center;padding: 15px;">
                              <i
                                  class="fas fa-times-circle"
                                  data-bss-hover-animate="flash"
                                  style="color: var(--bs-warning);"></i><span>Unverified</span>
                            </div>
                          </div>
                        {% endif %}
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="mb-3"><label class="form-label"
                                                   for="work_environment"><strong>Work
                            Environment</strong></label><textarea class="form-control"
                                                                  id="work_environment"
                                                                  name="work_environment">
                                                        {{ user.company.work_environment }}
                                                    </textarea>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="mb-3"><label class="form-label"
                                                   for="recruitment_policy"><strong>Recruitment
                            Policy</strong></label><textarea class="form-control"
                                                             id="recruitment_policy"
                                                             name="recruitment_policy">
                                                        {{ user.company.recruitment_policy }}</textarea>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="mb-3"><label class="form-label"
                                                   for="other_details"><strong>Other
                            Details</strong></label><textarea class="form-control"
                                                              id="other_details"
                                                              name="other_details">
                                                        {{ user.company.other_details }}</textarea>
                          </div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <button class="btn btn-primary btn-sm" data-bss-hover-animate="pulse"
                                type="submit">Save Settings
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          {% else %}
            <div class="row">
              <div class="col">
                <div class="card shadow mb-3">
                  <div class="card-header py-3">
                    <p class="text-primary m-0 fw-bold">User Details</p>
                  </div>
                  <div class="card-body">
                    <form action="{% url 'my_profile' %}" method="POST">
                      {% csrf_token %}
                      <div class="row">
                        <div class="col">
                          <div class="mb-3"><label class="form-label"
                                                   for="username"><strong>Username</strong></label>
                            <input
                                class="form-control" type="text" id="username"
                                placeholder="{{ user.username }}" name="username"
                                readonly>
                          </div>
                        </div>
                        <div class="col">
                          <div class="mb-3"><label class="form-label" for="email"><strong>Email
                            Address</strong></label>
                            <input class="form-control"
                                   type="email"
                                   id="email"
                                   placeholder="{{ user.company.email }}"
                                   name="email"
                                   value="{{ user.company.email }}"
                                   readonly>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="mb-3"><label class="form-label"
                                                   for="name"><strong>Name</strong></label>
                            <input
                                class="form-control" type="text" id="name"
                                placeholder="{{ user.name }}" name="name"
                                value="{{ user.name }}" readonly></div>
                        </div>
                        {% if viewer.user_type == 'ADMIN' %}
                          <div class="col">
                            <div class="mb-3"></div>
                            <div class="form-check"><input class="form-check-input"
                                                           type="checkbox" id="verified"
                                                           value="{{ user.company.verified }}"><label
                                class="form-check-label" for="verified">Verified</label>
                            </div>
                          </div>
                        {% else %}
                          {% if user.company.verified %}
                            <div class="col">
                              <div class="mb-3" style="text-align: center;padding: 15px;">
                                <i
                                    class="fas fa-check-circle"
                                    data-bss-hover-animate="flash"
                                    style="color: var(--bs-green);"></i><span>Verified</span>
                              </div>
                            </div>
                          {% else %}
                            <div class="col">
                              <div class="mb-3" style="text-align: center;padding: 15px;">
                                <i
                                    class="fas fa-times-circle"
                                    data-bss-hover-animate="flash"
                                    style="color: var(--bs-warning);"></i><span>Unverified</span>
                              </div>
                            </div>
                          {% endif %}

                        {% endif %}
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="mb-3"><label class="form-label"
                                                   for="work_environment"><strong>Work
                            Environment</strong></label><textarea class="form-control"
                                                                  id="work_environment"
                                                                  name="work_environment"
                                                                  placeholder="{{ user.company.work_environment }}"
                                                                  readonly>{{ user.company.work_environment }}</textarea>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="mb-3"><label class="form-label"
                                                   for="recruitment_policy"><strong>Recruitment
                            Policy</strong></label><textarea class="form-control"
                                                             id="recruitment_policy"
                                                             name="recruitment_policy"
                                                             placeholder="A recruitment policy is a statement on how you hire. It outlines your company’s preferred hiring practices and promotes consistency within your employee recruiting process.">
                                                                                         {{ user.company.recruitment_policy }}</textarea>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="mb-3"><label class="form-label"
                                                   for="recruitment_policy"><strong>Other
                            Details</strong></label><textarea class="form-control"
                                                              id="other_details"
                                                              name="other_details"
                                                              placeholder="{{ user.company.recruitment_policy }}"
                                                              readonly>{{ user.company.recruitment_policy }}</textarea>
                          </div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <button class="btn btn-primary btn-sm" data-bss-hover-animate="pulse"
                                type="submit">Save Settings
                        </button>
                    </form>
                  </div>
                  {% if user.user_type == 'ALUMNI' %}
                    <div class="card">
                      <div class="card-body">
                        <form action="{% url 'give_feedback' user.id %}" method="post">
                          {% csrf_token %}
                          <div class="mb-3">
                            <label class="form-label" for="feedback_content">
                              <input class="form-control" type="text" name="feedback_content"
                                     id="feedback_content"></label>
                            <button class="btn btn-primary btn-sm" data-bss-hover-animate="pulse"
                                    type="submit">Give Feedback
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}