{% extends 'base.html' %}

{% block content %}
  <div id="content">
    <div class="container-fluid">
      <h3 class="text-dark mb-4" style="margin-top: 10px;">Recruiters</h3>
      <div class="card shadow">
        <div class="card-header py-3">
          <p class="text-primary m-0 fw-bold">Companies on the platform</p>
        </div>
        <div class="card-body">
          <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
            <table class="table my-0" id="dataTable">
              <thead>
              <tr>
                <th>Company</th>
                <th>Company's page</th>
              </tr>
              </thead>
              <tbody>
              {% for company in companies %}
                <tr>
                  <td>{{ company }}</td>
                  <td><a href="{% url 'profile' company.user.id %}" class="btn btn-secondary btn-circle ms-1"><i
                      class="fas fa-arrow-right"></i> </a></td>
                </tr>
              {% empty %}
                <p>No companies registered on the platform</p>
              {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        {% if user.user_type == "COMPANY" and user.company.verified %}
          <a href="{% url 'post_job' %}" class="btn btn-sm btn-success">Create Job</a>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}