{% extends 'base.html' %}
{% block content %}
  <div id="content">
    <div class="container-fluid text-center my-auto" style="padding-top: 75px;margin-top: 25px;">
      <div class="card shadow">
        <h1 class="text-dark mb-1">Register as</h1>
        <div class="card-body text-center" style="padding: 30px;text-align: center;">
          <div class="row">
            <div class="col" style="padding: 10px;margin: 10px;">
              <!-- Start: Split Button Primary --><a href="{% url 'companies_signup' %}"
                                                     class="btn btn-primary btn-icon-split" role="button"
                                                     data-bss-hover-animate="pulse" style="text-align: center;"><span
                class="text-white-50 icon"><i class="fas fa-industry"></i></span><span
                class="text-white text">Recruiter</span></a>
              <!-- End: Split Button Primary -->
            </div>
            <div class="col" style="padding: 10px;margin: 10px;">
              <!-- Start: Split Button Primary --><a
                href="{% url 'students_signup' %}" class="btn btn-primary btn-icon-split" role="button"
                data-bss-hover-animate="pulse" style="text-align: center;"><span
                class="text-white-50 icon"><i class="fas fa-book-reader"></i></span><span class="text-white text">Student</span></a>
              <!-- End: Split Button Primary -->
            </div>
            <div class="col" style="padding: 10px;margin: 10px;">
              <!-- Start: Split Button Primary --><a href="{% url 'alumni_signup' %}"
                                                     class="btn btn-primary btn-icon-split" role="button"
                                                     data-bss-hover-animate="pulse" style="text-align: center;"><span
                class="text-white-50 icon"><i class="fas fa-star"></i></span><span
                class="text-white text">Alum</span></a><!-- End: Split Button Primary -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}