{% extends "main.html" %}

{% block content %}
    <h1 class>Job Postings</h1>
    <ul class="list-group">
        {% for job in joblist %}
            <li class="list-group-item">
                <div>
                    {{ job }}
{#                    posted by <a href="{% url 'profile' job.company.id %}">{{ job.company }}</a>#}
                    <a href="{% url 'job' job.id %}">Visit Job Posting's Page</a>
                </div>
            </li>
        {% endfor %}
    </ul>
    <br>
    total jobs : {{ joblist.count }}
{% endblock %}