{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div id="content">
    <div class="container-fluid">
      <h3 class="text-dark mb-4" style="margin-top: 10px;">Job Postings</h3>
      <div class="card shadow">
        <div class="card-header py-3">
          <p class="text-primary m-0 fw-bold">Active</p>
        </div>
        <div class="card-body">
          <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
            <table class="table my-0" id="dataTable">
              <thead>
              <tr>
                <th>Title</th>
                <th>Posted by</th>
                <th>Posted on</th>
                <th>Application Deadline</th>
                <th>Placement/Internship</th>
                <th>Posting's page</th>
              </tr>
              </thead>
              <tbody>
              {% for job in joblist %}
                <tr>
                  <td>{{ job.title }}</td>
                  <td>{{ job.company }}</td>
                  <td>{{ job.date_posted }}</td>
                  <td>{{ job.deadline }}</td>
                  <td>{{ job.job_type }}</td>
                  <td><a href="{% url 'job' job.id %}" class="btn btn-secondary btn-circle ms-1"><i
                      class="fas fa-arrow-right"></i> </a></td>
                </tr>
              {% empty %}

              {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        {% if user.user_type == "COMPANY" and user.company.verified %}
          <a href="{% url 'post_job' %}" class="btn btn-sm btn-success">Create Job</a>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}